body {
    font-family: "Lato", sans-serif;
    background-image:linear-gradient(rgba(0,0,0, 0.6 ),rgba(0,0,0, 0.6 )), url("../images/back.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    

   }
   .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(63, 63, 63);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
   }
   .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Marck Script', cursive;
    color: white;
    display: block;
    transition: 0.3s;
   }
   #pimp{
    font-family: 'New Rocker', cursive;
    color: white;  
   }
   .sidenav a:hover {
    color: rgb(109, 1, 109);
   }
   .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
   }
  
   #head{
    font-family: 'Bungee Inline' ;
    font-size:90px;
    /* position: absolute;
    top:0px;
    left:15%; */
    color:black
   }
   #hd2{
       position:absolute;
       top:10%;
       text-align: center;

   }
   #mce-TEXTAREA{
    padding-bottom: 100px;
    width:80%;
    top: 40%;
    background-color: transparent;
    position: absolute;
    left: 6%;
    
}
input{
    color:black;
    font-size:30px;
    width:450px;
    background-color: transparent;


    /* display:flex;
    flex-direction:flex-start; */
}
::placeholder{
    padding-top: 0;
    font-size: 20px;
    font-weight:bold;
    color:black;

}
#ff{
    background-color:transparent;
}
.info{
    font-size: 20px;
    font-weight: 800;
    color: rgb(209, 197, 181);
}
#helpbtn{
    position: absolute;
    top:92%;
    left:40%;
    background-color: #111;
    width:150px;
    height:50px;
}

media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
   }